<li>
  <%= answer.text %>
  <%= link_to t('common.show'), admin_answer_path(answer) %>
  <%= link_to t('common.edit'), edit_admin_answer_path(answer) %>
  <%= link_to t('common.delete'), admin_answer_path(answer),
    method: :delete,
    data: { confirm: t('common.confirm') } %>
</li>
