<h1><%= t('admin.answers.edit') %></h1>

<%= render 'form', answer: @answer %>

<%= link_to t('common.show'), admin_answer_path(@answer) %> |
<%= link_to t('common.back'), admin_question_path(@answer.question) %>
