<footer class="footer">
  <small>
    This app was build while taking a course at <%= link_to 'Thinknetica project', "http://thinknetica.com/", target: :_blank %>
  </small>
  <nav>
    <ul>
      <li><%= current_year %></li>
      <li> Rom <%= github_link('drougojrom', 'test-guru') %></li></li>
    </ul>
  </nav>
</footer>
